<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>
<div class = "main">
    <div class = "main-top">
        <ul class="top-headings">
            <li>Date</li>
            <li>Amount</li>
            <li>Expense/<br/>Income</li>
            <li>Running Total</li>
            <li>Target</li>
        </ul>
    </div>
<div class="index">
    <% let runningTotal = 0 %>
    <% for (plan of plans) { 
        if (plan.expense === true) {
            runningTotal -= plan.amount
        } else {
            runningTotal += plan.amount
        } %>
        <div class="entry">
            <li><%=
                plan.date.toString().slice(4,8)  +
                (parseInt(plan.date.toString().slice(8,10))) +
                plan.date.toString().slice(10,15)
                %></li>
            <li>$<a href="/plan/<%=plan._id%>"><%=plan.amount%></a></li>
            <li>
                <%=//plan.expense%>
                <form action="/plan?_method=PUT" method="POST">
                    <!---- This inputs are hidden to send a req.body to server-->
                    <input type="text" name="_id" id="" value = "<%=plan._id%>"hidden>
                    <input type="text" name="expense" id="" value = "<%=plan.expense%>"hidden>
                        <!---- 
                        https://stackoverflow.com/questions/2400482/how-do-i-make-a-div-button-submit-the-form-its-sitting-in
                        making a div to submit form
                        -->
                    <div class="button-expense" onClick="javascript:this.parentNode.submit()" >
                        <div class="btnExpenseLeft" 
                        <% if (!plan.expense) {%>
                            style="background-color: green;"
                        <%} else {%>
                            style="background-color: black;"
                        <%}%>
                        ></div>
                        <div class="btnExpenseRight"
                        <% if (plan.expense) {%>
                            style="background-color: red;"
                        <%} else {%>
                            style="background-color: black;"
                        <%}%>
                        ></div>                
                    </div>
                </form>

            </li>
            <li>$<%=runningTotal%></li>     
            <li>$<%=target%></li>                 
        </div>
    <% } %>
</div>
<script src="js/navButton.js"></script>
<script src="js/expenseButton.js"></script>
<%- include("./partials/footer.ejs") %>