<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>
<div class = "main">
    <div class = "main-top">
        <ul class="top-headings">
            <li>Date</li>
            <li>Amount</li>
            <li>Expense/<br/>Income</li>
            <li>Running Total</li>
            <li>Target</li>
        </ul>
    </div>
<div class="index">
    <% let runningTotal = 0 %>
    <% for (plan of plans) { 
        if (plan.expense === true) {
            runningTotal -= plan.amount
        } else {
            runningTotal += plan.amount
        } %>
        <div class="entry">
            <li><%=plan.date.toString().slice(4,15)%> </li>
            <li>$<a href="/plan/<%=plan._id%>"><%=plan.amount%></a></li>
            <li>
                <%=//plan.expense%>
                <div class="button-expense">
                    <div class="btnExpenseLeft" 
                    <% if (!plan.expense) {%>
                        style="background-color: green;"
                    <%} else {%>
                        style="background-color: black;"
                    <%}%>
                    ></div>
                    <div class="btnExpenseRight"
                    <% if (plan.expense) {%>
                        style="background-color: red;"
                    <%} else {%>
                        style="background-color: black;"
                    <%}%>
                    ></div>
                </div>
            </li>
            <li>$<%=runningTotal%></li>     
            <li>$<%=target%></li>                 
        </div>
    <% } %>
</div>
<script src="js/navButton.js"></script>
<script src="js/expenseButton.js"></script>
<%- include("./partials/footer.ejs") %>