<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>
<div class="index">
    <% for (plan of plans) { %>
        <div class="entry">
            <li><%=plan.date.toString().slice(4,15)%> </li>
            <li><a href="/plan/<%=plan._id%>"><%=plan.amount%></a></li>
            <li><%=plan.expense%></li>
            <li><%=plan.expense%></li>     
            <li><%=plan.expense%></li>                 
        </div>
    <% } %>
</div>
<script src="navButton.js"></script>
<%- include("./partials/footer.ejs") %>