<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>
<div class="main-show">
    <div class="show">
        <label>
            Date: <%=
                plan.date.toString().slice(4,8)  +
                // +1 for local host, heroku shows correct date
                (parseInt(plan.date.toString().slice(8,10))) +
                plan.date.toString().slice(10,15)
                %>
        </label>
        <label>
            Amount: $<%=plan.amount%>
        </label>
        <label>
            Name: <%=plan.name%>
        </label>
        <label for="notes">Notes: </label>
        <textarea name="notes" id="lblNotes" disabled readonly><%=plan.notes%></textarea>
        <form action="/plan/<%=plan._id%>?_method=DELETE" method="POST">
            <button id="btnDelete"><img   src="/images/trashcan.png" alt="delete"></button>
        </form>
    </div>
    <script src="/js/navButton.js"></script>
<%- include("./partials/footer.ejs") %>