<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>
<div class="main-show">
    <div class="show">
        <label>
            Date: <%=plan.date.toString().slice(4,15)%>
        </label>
        <label>
            Amount: $<%=plan.amount%>
        </label>
        <label>
            Name: <%=plan.name%>
        </label>
        <label for="notes">Notes: </label>
        <textarea name="notes" id="lblNotes"><%=plan.notes%></textarea>
        


    </div>
    <script src="../navButton.js"></script>
<%- include("./partials/footer.ejs") %>